*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    background: #000;
    color: #fff;
    font-family: sans-serif;
    overflow: hidden;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
}

.left-box{
    flex-basis: 20%;
    background: #002e52;
    padding-left: 22px;
}

.right-box{
    flex-basis: 80%;
    position: relative;   
}

.ri-robot-fill{
    margin:50px 0 ;
    font-size: 26px;
    gap: 20px;
    color: aqua;
    display: flex;
    align-items: center;
}

.search-box{
        display: flex;
        width: 340px;
        background: #fff;
        padding: 10px 7px;
        border-radius: 20px;
        border: none;
}

.search-box img{
    width: 22px;
    margin: auto 5px;
}

.search-box input{
    width: 80%;
    border: 0;
    outline-style: none;
    background: transparent;
}

.vertical-line{
    width: 1px;
    height: 48vh;
    background: #797979;
    margin: 30px 0 10px;
}

.container  ul li{
    list-style: none;
    margin: 10px 0;
}

.container ul li a{
    color: #797979;
    font-size: 16px;
    text-decoration: none;
}

.right-box h2{
    margin-top: 5%;
    margin-left: 60px;
    font-size: 60px;
    letter-spacing: 3px;
}

.robot{
    position: absolute;
    bottom:0;
    right: 6%;
    height: 93%;
}

.right-box nav{
    margin-top: 60px;
    margin-left: 60px;
}

.right-box nav ul{
    display: flex;
}

.right-box nav ul li{
    list-style: none;
    margin-right: 70px;
}

.container nav ul li a{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.robot img{
    height: 100%;
}

/* .robot h1{
    position: absolute;
    top: 100px;
    right: -30px;
    /* background: #fff; */
    /* font-size: 130px;
    color: #e2e2e2;
    opacity: 0.1; */
    /* z-index: -1; */
 
    .features{
        position: absolute;
        bottom: 17%;
        left: -220px;
    }

    .features img{
        width: 50px;
        margin-left: 40px;
    }

    .features div{
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }

    .features div:nth-child(2){
        margin-left:35px;
    }

    .features div:nth-child(3){
        margin-left: 37px;
    }

    .circle{
        width: 200px;
        height: 200px;
        border: 40px solid rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        position: absolute;
        top: 38%;
        left: -100px;
    }

    .dis ul{
        display: flex;
        align-items: flex-end;
    }

    .dis ul li{
        list-style: none;
        margin-right: 20px;
    }

    .dis ul li a{
        text-decoration: none;
        color: #ccc;
        font-size: 16px;
        padding-bottom:10px ;
        border-bottom: 2px solid #fff ;
    }
    
    .dis{
        position: absolute;
        left: 60px;
        bottom: 5%;
    }
    
    .dis ul li.active a{
        font-size: 22px;
        border-bottom: 5px solid #fff;
    }

    .volume{
        width: 25px;
        position: absolute;
        right: 4%;
        bottom: 4%;
    }

    .smallCursor{
        height: 10px;
        width: 10px;
        background: #3fc9f5;
        border-radius: 50%;
        position: absolute;
        z-index: 1;
        display: none;
    }

    .largeCursor{
        height: 40px;
        width: 40px;
        border:2px solid #3fc9f5;
        border-radius: 50%;
        position: absolute;
        z-index: 1;
        display: none;
        transition-duration:500ms;
        transition-timing-function: ease-out;
    }
    